if SHIELD_ISOLDE_LEFT
config ZMK_KEYBOARD_NAME
    default "isolde"
config ZMK_SPLIT_ROLE_CRITICAL
    default y
endif

if SHIELD_ISOLDE_LEFT || SHIELD_ISOLDE_RIGHT
    config ZMK_SPLIT
        default y 
endif